*{
    padding: 0;
    margin: 0;
}

header{
    background-color: rgba(35,28,26,0.8);
    height: 80px;
    width: 100%;
    position: fixed;
}

header ul{
    position: absolute;
    right: 5vw;
    top: 0;
    line-height: 80px;
}

h1{
    position: absolute;
    left: 120px;
    top: 0;
    line-height: 80px;
    /*background-image: url(image//4abf56246d3dbbdbea467defe16fcfc4.jpg);*/
    background-repeat: no-repeat;
    background-position: center;
    width: 250px;
    text-indent: -9999px;
    color:white;
}

header li{
    display:inline;
    margin-right: 4vw;
}

header a{
    color:white;
    text-decoration: none;
}

header a:hover{
    text-decoration: underline;
}

.selfintro{
    background-color: antiquewhite;
    color: white;
    height: 95vh;
    background-image: url(image/16047930919_350d5ae2c6_b.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.selfintro h2{
    font-size: 60px;
    margin-top: 60px;
    
}

.selfintro p{
    color: #fef7e6;
    font-size: 18px;
    margin: 25px 0;
    white-space: pre-line;
}

.selfintro a{
    color: gray;
    text-decoration: none;
    border: 1px solid #ACACAC;
    padding: 10px 20px;
    border-radius: 5px;
}

.sideProject{
    display: flex;
    background-color: #dacd9c;
    justify-content: space-between;
    align-items: center;
    padding: 100px 180px 80px;
    
    
    /* origin slogan
    background-color: #485652;
    color: white;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 1.8em; 
    */
}

.sideProject div{
    width: 300px;
    text-align: center;
}

.sideProject image{
    width: 100%;
    height: auto;
    border-radius: 10px;;
}

.sideProject h3{
    font-size: 25px;
    margin: 20px 0;
}

.sideProject p{
    font-size: 16px;
    line-height: 1.6em;
}

footer{
    background-color: #000000;
    color: #b7b7b7;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.others{
    display: flex;
}

.others img{
    width: 50%;
}

.info{
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info h2{
    font-size: 40px;
    margin-bottom: 30px;
}

.info p{
    text-align: center;
    line-height: 2em;
}

.language{
    display: flex;
    background-color: #ede9db;
    justify-content: space-between;
    align-items: center;
    padding: 100px 180px 80px;
}

.language div{
    width: 300px;
    text-align: center;
}

.language image{
    width: 100%;
    height: auto;
    border-radius: 10px;;
}

.language h3{
    font-size: 25px;
    margin: 20px 0;
}

.language p{
    font-size: 16px;
    line-height: 1.6em;
}

.newsletter{
    background-color: #485652;
    color: white;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsletter p{
    margin-bottom: 20px;
}

.newsletter input, .newsletter button{
    background-color: transparent;
    color: white;
    border: 1px solid #949d9a;
    padding: 10px;
    border-radius: 5px;
}

.newsletter input{
    width: 200px;
    margin-right: 15px;
}

.newsletter button{
    width: 80px;
    cursor: pointer;
}

input::placeholder{
    color: #dddddd;
}

input:focus{
    outline: none;
    border-color: #e0e9a3;
}

.menu{
    display: none;
}

/* 響應式設計語法 */
@media screen and (max-width: 768px){
    header ul{
        display: none;
    }
    
    header h1{
        left: 50%;
        transform: translateX(-50%);
    }

    .selfintro h2{
        font-size: 40px;
    }

    .menu{
        display: block;
        background-color: transparent;
        color: white;
        font-size: 35px;
        position: absolute;
        top: 15px;
        left: 20px;
        border: none;
        cursor: pointer;
    }

    .others{
        flex-direction: column;
    }

    .others img{
        width: 100%;
    }

    .sideProject {
        flex-direction: column;
        padding: 60px 0;
        
    }

    .sideProject div{
        margin-bottom: 30px;
    }

    .info {
        width: 100%;
        padding: 40px 0;
    }

    .info h2{
        font-size: 30px;
    }

    .language{
        flex-direction: column;
        padding: 60px 0;
    }
    
    .language div{
        margin-bottom: 30px;
    }
}